@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}
@page "/about"
<h2>About</h2>
<h4>Who are we</h4>
<p>We are a non-profit organization with the goal of conserve and restore old computers, video-consoles and arcade machines as well as to expose these machines in an office disposed for that purpose with information about computing history.</p>
<h4>Where are we</h4>
<p>Actually we are located on Gran Canary island, on Las Palmas of G.C. city, in the search of a office where start machines exhibition and restoring activities.</p>
<h4>Exactly what we pretend</h4>
<p>We pretend to conserve the computing history, as well as make it accessible to public in general, show the evolution and advance of a technology that concretely became part of any activity in our lifes..</p>
<h4>How to help</h4>
<p>
    Any collector is welcome to become part of tha association as well as to let his/her collection to public exhibition.
    <br />
    Another form of helping is translating the page to other languages as well as colaborating in it maintainment and improvement.
    <br />
    We also agree material dontions, such as machines (consoles, computers, arcade machines, monitors, peripherals, etc) and economic donation. Money donations will be exclusively dedicated to getting an exhibition office, as well as getting new machines and parts for restoring damaged machines. Repeated machines are considered trading (change and/or sell) objects to obtain new machines.
</p>
<h4>Copyrights</h4>
<p>
    &copy; 2003-2020 Natalia Portillo, all rights reserved.
    <br />
    The names are property of their respective authors.
    <br />
    Photos are property of their respective authors.
    <br />
    Rest of content if property of Natalia Portillo except other indication.
</p>
<h4>Greetings to translators</h4>
<p>
    Natalia Portillo (English)
    <br />
    Martín Lafuente (Galician)
    <br />
    Cèlia Mussons (Catalan)
    <br />
    Carlos Serrano (Italian)
    <br />
    Jocelyn Mayer (French)
</p>