@model Marechai.Database.Models.GpusByOwnedMachine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Gpus by owned machine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="OwnedMachine"
                       class="control-label">
                </label>
                <select asp-for="OwnedMachineId"
                        class="form-control"
                        asp-items="ViewBag.OwnedMachineId">
                </select>
                <span asp-validation-for="OwnedMachineId"
                      class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Gpu"
                       class="control-label">
                </label>
                <select asp-for="GpuId"
                        class="form-control"
                        asp-items="ViewBag.GpuId">
                </select>
                <span asp-validation-for="GpuId"
                      class="text-danger">
                </span>
            </div>
            <input type="hidden"
                   asp-for="Id" />
            <div class="form-group">
                <input class="btn btn-primary"
                       type="submit"
                       value="Save" />
                <a asp-action="Index"
                   class="btn btn-secondary">
                    Back to List
                </a>
            </div>
        </form>
    </div>
</div>