[submodule "Aaru.CommonTypes"]
	path = Aaru.CommonTypes
	url = https://github.com/Aaru-dps/Aaru.CommonTypes
[submodule "Aaru.Helpers"]
	path = Aaru.Helpers
	url = https://github.com/Aaru-dps/Aaru.Helpers
[submodule "Aaru.Console"]
	path = Aaru.Console
	url = https://github.com/Aaru-dps/Aaru.Console
[submodule "CICMMetadata"]
	path = CICMMetadata
	url = https://github.com/claunia/CICMMetadata
