@model Cicm.Database.Models.OwnedMachine

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OwnedMachine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AcquisitionDate" class="control-label"></label>
                <input asp-for="AcquisitionDate" class="form-control" />
                <span asp-validation-for="AcquisitionDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LostDate" class="control-label"></label>
                <input asp-for="LostDate" class="form-control" />
                <span asp-validation-for="LostDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastStatusDate" class="control-label"></label>
                <input asp-for="LastStatusDate" class="form-control" />
                <span asp-validation-for="LastStatusDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Trade" /> @Html.DisplayNameFor(model => model.Trade)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Boxed" /> @Html.DisplayNameFor(model => model.Boxed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Manuals" /> @Html.DisplayNameFor(model => model.Manuals)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="SerialNumberVisible" /> @Html.DisplayNameFor(model => model.SerialNumberVisible)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MachineId" class="control-label"></label>
                <select asp-for="MachineId" class="form-control" asp-items="ViewBag.MachineId"></select>
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

