@model Marechai.Database.Models.DocumentPerson

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Document person</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">
                </label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">
                </label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Alias" class="control-label">
                </label>
                <input asp-for="Alias" class="form-control" />
                <span asp-validation-for="Alias" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="DisplayName" class="control-label">
                </label>
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Person" class="control-label">
                </label>
                <select asp-for="PersonId" class="form-control" asp-items="ViewBag.PersonId">
                    <option selected value="">
                        None or unknown
                    </option>
                </select>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save" />
                <a asp-action="Index" class="btn btn-secondary">
                    Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}