@model Marechai.Database.Models.SoundByMachine

@{
    ViewData["Title"] = "Edit";
}
<h1>Edit</h1>
<h4>Sound by machine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SoundSynth" class="control-label"></label>
                <select asp-for="SoundSynthId" class="form-control" asp-items="ViewBag.SoundSynthId"></select>
                <span asp-validation-for="SoundSynthId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Machine" class="control-label"></label>
                <select asp-for="MachineId" class="form-control" asp-items="ViewBag.MachineId"></select>
                <span asp-validation-for="MachineId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Save" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>