@inherits LayoutComponentBase
@inject StringLocalizer<NavMenu> L

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay/>
        <a href="/about" target="_blank">@L["About"]</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>