@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : Create.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Admin view create
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/
}
@model Marechai.Database.Models.CompanyDescription

@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<h4>Company description</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div class="col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="form-group">
                    <label asp-for="Company" class="control-label">
                    </label>
                    <select asp-for="CompanyId" class="form-control" asp-items="ViewBag.CompanyId">
                    </select>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label asp-for="Text" class="control-label">
                    </label>
                    <textarea asp-for="Text"
                       class="form-control" cols="120" rows="20"></textarea>
                    <span asp-validation-for="Text" class="text-danger">
                    </span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Create" />
                    <a asp-action="Index" class="btn btn-secondary">
                        Back to List
                    </a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}