@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : Index.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Lists all companies
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/

    ViewData["Title"] = "Companies";
}
@using System.IO
@model IEnumerable<CompanyViewModel>

<p align="center">
    @if(Model.Any())
    {
        <p>
            @Model.Count() companies found in the database.<br />
            @foreach(CompanyViewModel company in Model)
            {
                <a asp-controller="Company"
                   asp-action="View"
                   asp-route-id="@company.Id">
                    @if(company.LastLogo != null && File.Exists(System.IO.Path.Combine(ViewBag.WebRootPath, "assets/logos", company.LastLogo + ".svg")))
                    {
                        <picture>
                            <source type="image/svg+xml"
                                    srcset="/assets/logos/@(company.LastLogo).svg">
                            <source type="image/webp"
                                    srcset="/assets/logos/thumbs/webp/1x/@(company.LastLogo).webp,
/assets/logos/thumbs/webp/2x/@(company.LastLogo).webp 2x,
/assets/logos/thumbs/webp/3x/@(company.LastLogo).webp 3x">
                            <img srcset="/assets/logos/thumbs/png/1x/@(company.LastLogo).png,
                         /assets/logos/thumbs/png/2x/@(company.LastLogo).png 2x,
                         /assets/logos/thumbs/png/3x/@(company.LastLogo).png 3x"
                                 src="/assets/logos/thumbs/png/1x@(company.LastLogo).png")
                                 alt=""
                                 height="auto"
                                 width="auto"
                                 style="max-height: 32px; max-width: 128px" />
                        </picture>
                    }
                    @company.Name
                </a>
                <br />
            }
        </p>
    }
    else
    {
        <p>There are no companies in the database.</p>
    }
</p>