@{
    /******************************************************************************
// Canary Islands Computer Museum Website
// ----------------------------------------------------------------------------
//
// Filename       : Contact.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Contact page
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2018 Natalia Portillo
*******************************************************************************/

    ViewData["Title"] = "Videoconsoles";
}

<p>
    Here you can consult our database.<br />
    In this database you can find technical information as well as videoconsoles history, catalogued by companies, alfabetically and by release date.<br />
    @ViewBag.ItemCount videoconsoles actually catalogued in the database.
</p>

<p>
    <br>
    <br>
    Search by companies
    <br>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=Q>
        Q
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=W>
        W
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=E>
        E
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=R>
        R
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=T>
        T
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=Y>
        Y
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=U>
        U
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=I>
        I
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=O>
        O
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=P>
        P
    </a>
    <br>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=A>
        A
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=S>
        S
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=D>
        D
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=F>
        F
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=G>
        G
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=H>
        H
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=J>
        J
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=K>
        K
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=L>
        L
    </a>
    <br>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=Z>
        Z
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=X>
        X
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=C>
        C
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=V>
        V
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=B>
        B
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=N>
        N
    </a>
    <a asp-action=ByLetter
       asp-controller=Company
       asp-route-id=M>
        M
    </a>
    <br>
    <a asp-action=ByLetter
       asp-controller=Company>
        All companies
    </a>
</p>
<p>
    Alfabetically search
    <br>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=Q>
        Q
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=W>
        W
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=E>
        E
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=R>
        R
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=T>
        T
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=Y>
        Y
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=U>
        U
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=I>
        I
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=O>
        O
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=P>
        P
    </a>
    <br>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=A>
        A
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=S>
        S
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=D>
        D
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=F>
        F
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=G>
        G
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=H>
        H
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=J>
        J
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=K>
        K
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=L>
        L
    </a>
    <br>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=Z>
        Z
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=X>
        X
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=C>
        C
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=V>
        V
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=B>
        B
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=N>
        N
    </a>
    <a asp-action=ByLetter
       asp-controller=Console
       asp-route-id=M>
        M
    </a>
    <br>
    <a asp-action=ByLetter
       asp-controller=Console>
        All computers
    </a>
</p>
<p>
    Search by year
    <br>
    @{ int counter = 0; }
    @for(int i = ViewBag.MinYear; i <= ViewBag.MaxYear; i++)
    {
        {
            counter++;
        }
        <a asp-action=ByYear
           asp-controller=Console
           asp-route-id=@i>
            @i
        </a>
        if(counter % 8 == 0) { <br /> }
    }
</p>