@page "/"
@using Marechai.ViewModels
@inherits OwningComponentBase<NewsService>

<h2>News</h2>
@foreach (var news in _news)
{
    <table border="0" width="100%">
        <tr>
            <td colspan="2">
                <b>@news.Timestamp</b>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                @news.Text
            </td>
        </tr>
        <tr>
            <td>@* TODO: Image *@</td>
            <td>
                <a href="/@news.Controller/@news.AffectedId">
                    @news.ItemName
                </a>
            </td>
        </tr>
    </table>
    <br />
}

@code
{
    List<NewsViewModel> _news;

    protected override void OnInitialized()
    {
        _news = @Service.GetNews();
    }
}