@{
    /******************************************************************************
// MARECHAI: Master repository of computing history artifacts information
// ----------------------------------------------------------------------------
//
// Filename       : Index.cshtml
// Author(s)      : Natalia Portillo <claunia@claunia.com>
//
// --[ Description ] ----------------------------------------------------------
//
//     Admin page
//
// --[ License ] --------------------------------------------------------------
//
//     This program is free software: you can redistribute it and/or modify
//     it under the terms of the GNU General Public License as
//     published by the Free Software Foundation, either version 3 of the
//     License, or (at your option) any later version.
//
//     This program is distributed in the hope that it will be useful,
//     but WITHOUT ANY WARRANTY; without even the implied warranty of
//     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
//     GNU General Public License for more details.
//
//     You should have received a copy of the GNU General Public License
//     along with this program.  If not, see <http://www.gnu.org/licenses/>.
//
// ----------------------------------------------------------------------------
// Copyright © 2003-2020 Natalia Portillo
*******************************************************************************/

    ViewData["Title"] = "Admin";
}
<h2>Administration</h2>
<div class="content">
    <h3>Database administrative pages</h3>
    <a asp-controller="CompanyDescriptions">Company descriptions</a>
    <br />
    <a asp-controller="CompanyLogos">Company logos</a>
    <br />
    <a asp-controller="GpusByMachine">GPUs by machine</a>
    <br />
    <a asp-controller="InstructionSetExtensionsByProcessor">Instruction set extensions by processor</a>
    <br />
    <a asp-controller="MachinePhotos">Machine photos</a>
    <br />
    <a asp-controller="MemoryByMachines">Memory by machines</a>
    <br />
    <a asp-controller="News">News</a>
    <br />
    <a asp-controller="People">People</a>
    <br />
    <a asp-controller="ProcessorsByMachines">Processors by machines</a>
    <br />
    <a asp-controller="Processors">Processors</a>
    <br />
    <a asp-controller="Resolutions">Resolutions</a>
    <br />
    <a asp-controller="ResolutionsByGpu">Resolutions by GPU</a>
    <br />
    <a asp-controller="ResolutionsByScreen">Resolutions by screen</a>
    <br />
    <a asp-controller="Screens">Screens</a>
    <br />
    <a asp-controller="ScreensByMachine">Screens by machine</a>
    <br />
    <a asp-controller="SoundSynths">Sound synthesizers</a>
    <br />
    <a asp-controller="SoundByMachine">Sound synthesizers by machine</a>
    <br />
    <a asp-controller="StorageByMachines">Storage by machines</a>
    <br />
</div>
<div class="content">
    <h3>Administrative pages for owned machines</h3>
    <a asp-controller="OwnedMachine">Owned machines</a>
    <br />
    <a asp-controller="GpusByOwnedMachine">GPUs by owned machine</a>
    <br />
    <a asp-controller="MemoryByOwnedMachines">Memory by owned machines</a>
    <br />
    <a asp-controller="ProcessorsByOwnedMachines">Processors by owned machines</a>
    <br />
    <a asp-controller="SoundByOwnedMachine">Sound synthtetizers by owned machine</a>
    <br />
    <a asp-controller="StorageByOwnedMachines">Storage by owned machine</a>
    <br />
</div>