@model Cicm.Database.Models.Screen

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Screen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"
                 class="text-danger">
            </div>
            <div class="form-group">
                <label asp-for="Diagonal"
                       class="control-label">
                </label>
                <input asp-for="Diagonal"
                       class="form-control" />
                <span asp-validation-for="Diagonal"
                      class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Width"
                       class="control-label">
                </label>
                <input asp-for="Width"
                       class="form-control" />
                <span asp-validation-for="Width"
                      class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Height"
                       class="control-label">
                </label>
                <input asp-for="Height"
                       class="form-control" />
                <span asp-validation-for="Height"
                      class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="NativeResolution"
                       class="control-label">
                </label>
                <select asp-for="NativeResolutionId"
                        class="form-control"
                        asp-items="ViewBag.NativeResolutionId">
                </select>
                <span asp-validation-for="NativeResolutionId"
                      class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="EffectiveColors"
                       class="control-label">
                </label>
                <input asp-for="EffectiveColors"
                       class="form-control" />
                <span asp-validation-for="EffectiveColors"
                      class="text-danger">
                </span>
            </div>
            <div class="form-group">
                <label asp-for="Type"
                       class="control-label">
                </label>
                <input asp-for="Type"
                       class="form-control" />
                <span asp-validation-for="Type"
                      class="text-danger">
                </span>
            </div>
            <input type="hidden"
                   asp-for="Id" />
            <div class="form-group">
                <input class="btn btn-primary"
                       type="submit"
                       value="Save" />

                <a asp-action="Index"
                   class="btn btn-secondary">
                    Back to List
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}